name: Build and Push Docker Image

on:
  push:
    tags:
      - 'v*'
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Extract tag name
      id: extract_tag
      run: |
        if [[ "${GITHUB_REF}" == refs/tags/* ]]; then
          echo "tag=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
        else
          echo "tag=latest" >> $GITHUB_ENV
        fi

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Docker image
      run: |
        docker build \
          --build-arg VERSION=${{ env.tag }} \
          -t ${{ secrets.DOCKER_USERNAME }}/foodinventory:${{ env.tag }} \
          -t ${{ secrets.DOCKER_USERNAME }}/foodinventory:latest \
          .

    - name: Push Docker image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/foodinventory:${{ env.tag }}
        docker push ${{ secrets.DOCKER_USERNAME }}/foodinventory:latest

    - name: Push README.md to Docker Hub
      uses: peter-evans/dockerhub-description@v4
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        repository: ${{ secrets.DOCKER_USERNAME }}/foodinventory
        readme-filepath: ./README.md
